<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

   
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>AEROSON ENTERPRISES</title>
</head>
<body style=" position: relative;">

    
    <header class="header">
        <nav class="navbar">
            <img class="nav-logo" src="css/images/aeroson-logo.jpg" alt="" width="200px">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/product" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <form action="/plumbingdetails" method="post">
                    <a href="/cpvcplumbing" class="nav-link">Product Details</a>
                    </form>
                    <div class="more">
                        <ul>
                          
                              <li><a href="/cpvcplumbing">CPVC Plumbing System</a></li>
                           
                           
                                <li><a href="/upvcplumbing">UPVC Plumbing System</a></li>
                            
                           
                                <li><a href="/swrplumbing">SWR Plumbing System</a></li>
                            
                            
                                <li><a href="/pvcplumbing">PVC Pressure System</a></li>
                            
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/service" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-login">
                    <a href="/login" class="nav-link">Sign in/up</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>