<%- include('partials/header1') %>
<form action="/about" method="post">
    <div class="abtaeroson" style="margin: 0 15%;">
        <h2 style="text-align:center; padding: 20px; color:#3C99DC;">About Us</h2>
        <h4 style="text-align:center; padding: 20px;  color:#3C99DC;">AEROSON ENTERPRISES</h4>
        <p style="line-height: 2rem; text-align: justify;">We provide highly satisfying solutions to your plumbing needs and recover your 
            problems with highly experienced professionals. We also deliver CPVC,UPVC,SWR,PVC
            plumbing systems in wholesale distributions. We also have storage tanks in various 
            sizes. We also provide column pipes for borewell. Aerson Enterprises plays a vital
            role in three major industries namely Agriculture, Industrial, Building. We assure
            a quality product which lasts for generations and water quality retention. We have 
            collaborated with TRUFLO pipes by HINDWARE. 
        </p>
    </div>
    <div class="abttruflo" style="margin: 0 15%;">
        <h4 style="text-align:center; padding: 20px; color: #3C99DC;">Truflopipes</h4>
        <p style="line-height: 2rem; text-align: justify;">TRUFLO pipes & fittings by Hindware 
            is built on a legacy of excellence and innovation.Hindware, the flagship brand,
            is the best and first to bring Fine Vitreous China Sanitaryware to the Indian consumers.
            Hindware’s pursuit to provide complete bathroom solutions is strengthened with TRUFLO.
            Since inception, Hindware’s pursuit of excellence has manifested in the wide range of 
            pristine ceramic bathroom fixtures (water-closets, bidets, washbasins, and urinals), 
            series of tech-smart taps/faucets, tiles, extractor fans, wellness products and kitchen
            appliances that stand testament of its growth and commitment.TRUFLO reaffirms the 
            commitment of Hindware that has been built over close to 6 decades now.</p>
    </div>
    <div class="certifications">
        <div class="abtheading" style="margin: 0 15%;">
            <h4 style="text-align:center; padding: 20px; color: #3C99DC;">Our Certifications</h4>
        </div>
        <div class="abtimages" style="display:flex; align-items: center; justify-content: space-around;">
            <img src="css/images/nsf.png" alt="" srcset="">
            <img src="css/images/cftri.png" alt="">
            <img src="css/images/cipet.png" alt="">
            <img src="css/images/igbc.png" alt="">
        </div>
       
    </div>
    <section id="contact">
        <p style="text-align: center;">Aeroson Enterprises</p>
        <address style="text-align: center;"><i class="bi bi-geo-alt"></i>1/1B,Kandavilas Kadu, Kondalampatty, Salem, TN - 636010</address>
        <div class="contactus">
            <a href="mailto:aerosonenterprises@gmail.com"><i class="bi bi-envelope"></i></a>
            <a href="tel:+917540099403"><i class="bi bi-telephone"></i></a>
        </div>
    </section>
</form>
</body>
</html>