<%- include('partials/header1') %>


    <form action="/cpvcplumbing" method="post">
    <div>
        <img src="css/images/banner.jpg" alt="" width="100%">
    </div>

    <h3 style="text-align: center; padding: 5%; color:  #317CEC;">Highlights of the Products</h3>
    <div class="highlights">
        <img src="css/images/CPVC-Cluster.png" alt="">
        <div class="highlights1">
            <ul style="list-style-type:disc">
                <li> Ideal for hot and cold water applications</li>
                <li>Suitable for water temperature upto 93oC
                   </li>
                <li> Wide range of pipes and fittings from 1⁄2″ to 6″ (15 mm to 150 mm)</li>
                <li> Pipes & Fittings upto 2"(50 mm) can withstand 28.1kg/cm2
                     pressure at 27°C and 6.93kg/cm2 at 82°C
                    Safe for potable water</li>
                <li> UV Stabilised</li>
            </ul>
        </div>
        <div class="highlights2">
            <ul style="list-style-type:disc">
                <li> No bacterial growth </li>
                <li> Ease of installation</li>
                <li> Designed for over 50 years life</li>
                <li> Pipes upto 2″ (50 mm) are manufactured as per IS:15778:2007 and fittings as per ASTM 2846 standards</li>
                <li> Pipes above 2″ (50 mm) are manufactured as per ASTMF 441 & Fittings as per ASTMF 438 & 439</li>
            </ul>
        </div>
    </div>

    <h3 style="text-align: center; padding: 30px; color:  #317CEC;">Installation of Solvent Cement</h3>
    <div class="installation">
        <div class="installation-image">
            <img src="css/images/Cutting.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Cutting</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/De-Burring.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">De-Blurring</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/Cleaning-Dry.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Cleaning/Dry</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/cpvcinstall.jpg" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Solvent cementing</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/Assembly.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Assembly</h4>
        </div>
    </div>

    
    <div class="solvent">
        <h3 style="color:  #317CEC;">SOLVENT CEMENTED JOINTING</h3>
        <ol type="a">
            <li>Dry fitment-check joint of pipe to fitting without solvent cement, should fit up to 60 – 70%</li>
            <li>Cold fusion joint (cold welded joint)</li>
            <li>For diameters 1⁄2" to 2”, single step solvent cement</li>
            <li>For diameters 21⁄2” to 4”, 2 step solvent cement (primer + solvent cement)</li>
            <li>Primer helps to clean the surface of pipe & fitting and softens the material</li>
        </ol>
    </div>


    <div class="solcement">
        <table>
            <tr>
                <th colspan="4">AVERAGE INITIAL SET SCHEDULE FOR CPVC SOLVENT CEMENT</th>
            </tr>
            <tr>
                <th>TEMP RANGE</th>
                <th>PIPE SIZE 1⁄2” – 11⁄4”</th>
                <th>PIPE SIZE 11⁄2” – 3”</th>
                <th>PIPE SIZE 31⁄2” – 4”</th>
            </tr>
            <tr>
                <td>16° - 38°C</td>
                <td>2 minutes</td>
                <td>5 minutes</td>
                <td>30 minutes</td>
            </tr>
            <tr>
                <td>5° - 16°C</td>
                <td>5 minutes</td>
                <td>10 minutes</td>
                <td>2 hours</td>
            </tr>
            <tr>
                <td>-18° - -5°C</td>
                <td>10 minutes</td>
                <td>15 minutes</td>
                <td>12 hours</td>
            </tr>
        </table>
    </div>

    <div class="note">
        <p><b>Note:</b> Typical set schedule is required time before it is advisable to carefully handle joint. In wet or humid conditions, additional set time maybe required of up to 50% of amount listed. Use as general guidelines only.</p>
        <ol type="f">
            <li>Cure time-Curing time is longer than the set time. Curing means the joint has completely matured</li>
            <li>The pressure test can only be performed after the joint is completely cured</li>
        </ol>
    </div>
    <div class="avgsolvent" width="70%;">
        <table>
            <tbody>
                <tr>
                    <th colspan="7"><b>AVERAGE JOINT CURE SCHEDULE FOR CPVC SOLVENT CEMENT</b></th>
                </tr>
                <tr>
                     <th><b>RELATIVE HUMIDITY</b><b>60% OR LESS</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> <sup>1</sup>&frasl;<sub>2</sub>” – 1<sup>1</sup>&frasl;<sub>4</sub>”</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> 1<sup>1</sup>&frasl;<sub>2</sub>” – 2”</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> 2<sup>1</sup>&frasl;<sub>2</sub>” – 4”</b></th>
                </tr>
                <tr>
                    <th rowspan="2"><b>TEMP. RANGES DURING ASSEMBLY &amp; CURE PERIODS</b></th>
                    <th colspan="2"><b>BAR</b></th>
                    <th colspan="2"><b>BAR</b></th>
                    <th colspan="2"><b>BAR</b></th>
                </tr>
                <tr>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 26</b></th>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 22</b></th>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 22</b></th>
                </tr>
                <tr>
                    <td>16° - 38°C</td>
                    <td>15 min</td>
                    <td>6 hrs</td>
                    <td>30 min</td>
                    <td>12 hrs</td>
                    <td>1 <sup>1</sup>&frasl;<sub>2</sub> hrs</td>
                    <td>24 hrs</td>
                </tr>
                <tr>
                    <td>5° - 16°C</td>
                    <td>10 min</td>
                    <td>12 hrs</td>
                    <td>45 min</td>
                    <td>24 hrs</td>
                    <td>4 hrs</td>
                    <td>48 hrs</td>
                </tr>
                <tr>
                    <td>-18° - -5°C</td>
                    <td>15 min</td>
                    <td>48 hrs</td>
                    <td>1 hr</td>
                    <td>96 hrs</td>
                    <td>72 hrs</td>
                    <td>8 days</td>
                </tr>
            </tbody>
         </table>
     </div>


     <div class="superior">
         <h3>Superior quality CPVC Pipes and Fittings from Truflo</h3>
         <br>
         <p>Truflo Pipes, one of the leading CPVC pipe manufacturers in the market for CPVC pipes and fittings, ensures their CPVC (Chlorinated Polyvinyl Chloride) pipes and fittings are manufactured using the best material and technology, which makes them highly feasible for both hot as well as cold water distribution system. A Truflo CPVC pipe is produced by chlorination of the traditional PVC material, which adds to the CPVC pipes and fittings’ strength and enables the CPVC pipe to withstand high temperatures (up to 93°C). Temperatures over this may soften the material and weaken its joints. Also, our CPVC are versatile to fit a diverse range of applications. <br><br>

            Our CPVC pipes and fittings are fit for a variety of applications like agriculture systems, industrial process lines, irrigation systems, swimming pools, water supply systems, and fire fighting systems etc. They are superior to Ductile pipes (D.I), Copper Iron(C.I), and Reinforced Cement Concrete (RCC) pipes and come with added benefits like lightweight, excellent corrosion, easy and fast installation, and chemical resistance, long life, high flow rates, and economical. <br> <br>
            
            Our CPVC pipes, CPVC fittings, and CPVC pipes and fittings are the most viable option for hot and cold water distribution systems as our piping systems are approved and certified to carry potable water.</p>
     </div>
     <section id="contact">
        <p style="text-align: center;">Aeroson Enterprises</p>
        <address style="text-align: center;"><i class="bi bi-geo-alt"></i>1/1B,Kandavilas Kadu, Kondalampatty, Salem, TN - 636010</address>
        <div class="contactus">
            <a href="mailto:aerosonenterprises@gmail.com"><i class="bi bi-envelope"></i></a>
            <a href="tel:+917540099403"><i class="bi bi-telephone"></i></a>
        </div>
    </section>

    </form>
    <script src="script.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>