<%- include('partials/header1') %>

    <form action="/" method="post">
    <!-- slider -->

    <div class="slider">

    </div>

    <!-- Defines -->

    <div class="card-container">
        <div class="row">

            <h2 class="d-heading" data-center-center="opacity:1;left:0;" data-0-bottom="opacity:0;left:200px;">What defines AEROSON</h2>

            <div class="col-lg-4 col-md-6 col-sm-12"  data-center-center="opacity:1;left:0;" data-0-bottom="opacity:0;left:-200px;">
                <div class="card" >
                    <div class="card__head">
                        <div class="card__image card__image0">
                            
                        </div>
                       
                    </div>
                    <div class="card__body">
                        <h2 class="card__headline" style="text-align: center;">Quality</h2>
                        <p class="card__text">AEROSON constantly strives to upgrade processes and materials, 
                            incorporating international developments in the 
                            plumbing industry to benefit the customers.</p>
                    </div>
                   
                    <div class="card__border"></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" data-center-center="opacity:1;bottom:0;" data-0-bottom="opacity:0;bottom:-200px;">
                    <div class="card__head">
                        <div class="card__image card__image1">
                            
                        </div>
                       
                    </div>
                    <div class="card__body">
                        <h2 class="card__headline" style="text-align: center;">Trust</h2>
                        <p class="card__text">AEROSON aims to achieve the vision of earning consumers’ trust and delight.
                            Astral has been operational in India for the past 6 years, 
                            striving to serve consumers to the best of their abilities.</p>
                    </div>
                   
                    <div class="card__border"></div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" data-center-center="opacity:1;right:0;" data-0-bottom="opacity:0;right:-200px;">
                    <div class="card__head">
                        <div class="card__image card__image2">
                            
                        </div>
                       
                    </div>
                    <div class="card__body">
                        <h2 class="card__headline" style="text-align: center;">Innovation</h2>
                        <p class="card__text">AEROSON offers innovative product designs, created
                             using extensive industry know-how coupled
                              with the latest technology to assure world-class quality.</p>
                    </div>
                   
                    <div class="card__border"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- applications -->
    
    <section id="application">
        <h1 data-center-center="opacity:1;right:0;" data-0-bottom="opacity:0;right:200px;">Applications</h1>
        <div>
            <img data-center-center="opacity:1;left:0;" data-0-bottom="opacity:0;left:200px;" src="css/images/Plumbing.gif" alt="" width=400px>
            <img data-center-center="opacity:1;left:0;" data-0-bottom="opacity:0;left:200px;" src="css/images/industries.gif" alt="" width=400px>
        </div>
        <div>
            <img data-center-center="opacity:1;right:0;" data-0-bottom="opacity:0;right:200px;" src="css/images/urban.gif" alt="" width=400px>
            <img data-center-center="opacity:1;right:0;" data-0-bottom="opacity:0;right:200px;" src="css/images/Agriculture.gif" alt="" width=400px>          
        </div>
    </section>

    <!-- carousel -->
    <section  id="carousel">
        
    
    <div class="bd-example prod-slider">
        <h1 class="carousel-heading" data-center-center="opacity:1;left:0;" data-0-bottom="opacity:0;left:200px;">Our Products</h1>
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel" data-center-center="opacity:1;bottom:0;" data-0-bottom="opacity:0;bottom:-200px;">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="css/images/pvcpipe.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>PVC pipes</h5>
                <p>PVC Pressure Piping system for potable water distribution</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="css/images/cpvcpipe.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>CPVC pipes</h5>
                <p>CPVC Plumbing for Hot & Cold water</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="css/images/upvcpipe.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>UPVC pipes</h5>
                <p>UPVC Plumbing system for cold water</p>
              </div>
            </div>
            <div class="carousel-item">
                <img src="css/images/swrpipe.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>SWR pipes</h5>
                  <p>SWR piping for sanitary waste water application</p>
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div>
      </div>

    </section>
      
    <!-- location -->
    <section id="location">
        <h1 data-center-center="opacity:1;left:0;" data-0-bottom="opacity:0;left:200px;">Our Presence</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22598.56719273057!2d78.12090032185468!3d11.640338837195504!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babef386512ff69%3A0x33249463f8789cf8!2sAEROSON%20ENTERPRISES%20TRUFLO%20DISTRIBUTOR!5e0!3m2!1sen!2sin!4v1632417479929!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>


    <section id="review">   
      
        <h1  data-center-center="opacity:1;right:0;" data-0-bottom="opacity:0;right:200px;">Feedbacks</h1>
        <div class="feedback-info">
        <form name="myForm" action="" onsubmit="sendEmail()" method="post">
            <div class="review-info" >
                <h5>Name</h5>
                <input type="text" name="custname" class="name" required>
                <h5>Email address</h5>
                <input type="email" name="email1" class="email" required>
                <h5>Type your feedback here</h5>
                <input type="text" name="feedback" class="feedback" id="" required>
                <br>
                <button type="submit" class="feedbacksubmit">Submit</button>
            </div>
        </form>
            <div class="feedback-img" >
                <img src="css/images/feedback.jpg" alt="" srcset="" width="500px;" style="padding-right: 100px;">
            </div>
            
        </div>
    
    </section>

    <section id="clients" style="padding:30px 0">
        <h1 style="text-align: center;">What our clients say</h1>
        <div class="default-review">
            <div style="margin:auto; width:70%; border: 1px solid black; padding:10px; border-radius: 5px;">
                <div style="display:flex; align-items:center;">
                    <h3>Aeroson Enterprises</h3> 
                    <h5 style="color: grey; margin-left: 20px;">aerosonenterprises@gmail.com</h5>
                </div>
                <p>We provide a good service</p>
                </div>
        </div>
        <div class="review" >

        </div>
    </section>


    <section id="contact">
        <p style="text-align: center;">Aeroson Enterprises</p>
        <address style="text-align: center;"><i class="bi bi-geo-alt"></i>1/1B,Kandavilas Kadu, Kondalampatty, Salem, TN - 636010</address>
        <div class="contactus">
            <a href="mailto:aerosonenterprises@gmail.com"><i class="bi bi-envelope"></i></a>
            <a href="tel:+917540099403"><i class="bi bi-telephone"></i></a>
        </div>
    </section>

</form>

    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <script src="script.js"></script>
    
   
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="skrollr.js"></script>
    <script type="text/javascript">
        var s = skrollr.init();
    </script>
   
</body>
</html>