<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
    <div class="login" >
        <h2>Aeroson Enterprises</h2>
        <img src="css/images/aeroson-logo.jpg" alt="" srcset="" width="200px">
        <h4>Sign in with your email address</h4>
        <input type="email" name="username" placeholder="Email Address"> <br>
        <input type="password" name="password" id="" placeholder="password"> <br> <br>
        <!-- <a class="signinup" href="/product">Sign in</a> -->
        <button type="submit" href="/product" class="signinup">Sign in</button>
        <p>Don't have an account? <a href="/register">Sign up</a></p>
    </div>
</form>

</body>
</html>
