<%- include('partials/header1') %>

    <form action="/pvcplumbing" method="post">
    <div>
        <img src="css/images/pvcbanner.jpg" alt="" width="100%">
    </div>

    <h3 style="text-align: center; padding: 5%; color:  #317CEC;">Highlights of the Products</h3>
    <div class="highlights">
        <img src="css/images/PVC-Cluster.png" alt="" height="70%">
        <div class="highlights1">
            <ul style="list-style-type:disc">
                <li>Smooth internal surface
                    </li>
                <li> Hygienic and odour free
                   </li>
                <li> Chemical resistance
                   </li>
                <li>   No corrosion
                   </li>
                <li>  Maintainance-free
                    </li>
                <li> Long life</li>
            </ul>
        </div>
        <div class="highlights2">
            <ul style="list-style-type:disc">
                <li>Pipes Manufactured as per IS:4985:2000, and Fittings as per IS:7834:1987
                  
                   </li>
                <li>   Fields of application:</li>
                <ul>
                    <li> Irrigation</li>
                    <li> Water supply
                        </li>
                    <li>Industrial Process lines
                       </li>
                    <li> Swimming pools
                       </li>
                    <li> Agriculture</li>
                   
                </ul>
                
            </ul>
        </div>
    </div>

    <h3 style="text-align: center; padding: 30px; color:  #317CEC;">Installation of Solvent Cement</h3>
    <div class="installation">
        <div class="installation-image">
            <img src="css/images/SWRcutting.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Cutting</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/SWR-A-2.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">De-Blurring</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/SWR-A-3.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Cleaning/Dry</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/pvc (1).jpg" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Solvent cementing</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/SWR-A-6.png" alt="" width="200px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Assembly</h4>
        </div>
    </div>

    
    <div class="solvent">
        <h3 style="color:  #317CEC; text-align: center;">ADVANTAGES</h3>
        <ol type="a">
            <li>Odourless and hygienic- These pipes are suitable for transportation of potable water as it does not allow any contamination in water</li>
            <li>High corrosion resistance- This piping system is resistant to chemical corrosion, which gives these pipes much longer life.</li>
            <li>High chemical resistance- Pipes offer excellent resistance to acids, oxidizing agents, alkalis, oils and domestic effluents. There is no need for repeated painting or coating for surface protection.</li>
            <li>Smooth bore- Pipes have a smooth inner surface, resulting in a better flow compared to Cement, CI and GI pipes</li>
            <li> Self-extinguishing quality- Does not support combustion.</li>
            <li>Long life- As these pipes are free from scale formation, rusting, weathering and chemical action, this results in a much longer life.</li>
            <li>Economical- Light weight piping system, very easy to transport, install and highly economical compared to conventional piping systems.</li>
        </ol>
    </div>

    <h5 style="padding: 3% 10% 1%;">TRUFLO by Hindware offers a wide range of PVC pressure pipes and fittings, manufactured as per IS 4985:2000 standards. Availability of sizes as per the table below.</h2>
    <h3 style="text-align: center;">PRODUCT AVAILABILITY AND STANDARDS</h3>
    <div class="solcement" style="padding: 0 15%;">
       
        <table>
            <tr>
                <th>VARIANTS</th>
                <th>SIZES AVAILABLE</th>
                <th>PIPE</th>
                <th>FITTINGS</th>
            </tr>
            <tr>
                <td>Pressure class 4 kg/cm2		</td>
                <td>63mm, 75mm, 90mm, 110mm, 140mm, 160mm, 180mm, 200mm, 250mm, 280mm, 315mm</td>
                <td>IS:4985:2000	</td>
                <td>IS:7834:1987</td>
            </tr>
            <tr>
                <td>Pressure class 6 kg/cm2		</td>
                <td>40mm, 50mm, 63mm, 75mm, 90mm, 110mm, 140mm, 160mm, 180mm, 200mm, 250mm, 280mm, 315mm</td>
                <td>IS:4985:2000	</td>
                <td>IS:7834:1987</td>
            </tr>
            <tr>
                <td>Pressure class 10 kg/cm2		</td>
                <td>20mm, 25mm, 32mm, 40mm, 50mm, 63mm, 75mm, 90mm, 110mm, 140mm, 160mm, 180mm, 200mm, 250mm, 280mm</td>
                <td>IS:4985:2000	</td>
                <td>IS:7834:1987</td>
            </tr>
            <tr>
                <td>Heavy pressure plumbing pipe</td>
                <td>20mm, 25mm, 32mm, 40mm, 50mm</td>
                <td>IS:4985:2000</td>
                <td>IS:7834:1987</td>
            </tr>
        </table>
    </div>

    <div class="avgsolvent" width="70%;">
        <table>
            <tbody>
                <tr>
                    <th colspan="7"><b>AVERAGE JOINT CURE SCHEDULE FOR PVC SOLVENT CEMENT</b></th>
                </tr>
                <tr>
                     <th><b>RELATIVE HUMIDITY</b><b>60% OR LESS</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> <sup>1</sup>&frasl;<sub>2</sub>” – 1<sup>1</sup>&frasl;<sub>4</sub>”</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> 1<sup>1</sup>&frasl;<sub>2</sub>” – 2”</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> 2<sup>1</sup>&frasl;<sub>2</sub>” – 4”</b></th>
                </tr>
                <tr>
                    <th rowspan="2"><b>TEMP. RANGES DURING ASSEMBLY &amp; CURE PERIODS</b></th>
                    <th colspan="2"><b>BAR</b></th>
                    <th colspan="2"><b>BAR</b></th>
                    <th colspan="2"><b>BAR</b></th>
                </tr>
                <tr>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 26</b></th>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 22</b></th>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 22</b></th>
                </tr>
                <tr>
                    <td>16° - 38°C</td>
                    <td>15 min</td>
                    <td>6 hrs</td>
                    <td>30 min</td>
                    <td>12 hrs</td>
                    <td>1 <sup>1</sup>&frasl;<sub>2</sub> hrs</td>
                    <td>24 hrs</td>
                </tr>
                <tr>
                    <td>5° - 16°C</td>
                    <td>10 min</td>
                    <td>12 hrs</td>
                    <td>45 min</td>
                    <td>24 hrs</td>
                    <td>4 hrs</td>
                    <td>48 hrs</td>
                </tr>
                <tr>
                    <td>-18° - -5°C</td>
                    <td>15 min</td>
                    <td>48 hrs</td>
                    <td>1 hr</td>
                    <td>96 hrs</td>
                    <td>72 hrs</td>
                    <td>8 days</td>
                </tr>
            </tbody>
         </table>
     </div>

    

     <div class="superior">
         <h3>Truflo PVC Plumbing System</h3>
         <br>
         <p>Truflo is a leading PVC plastic pipes manufacturers in India, and their PVC pipes have been used for pressure applications for a long time. Today, PVC pressure systems are used for a wide range of applications such as distributing drinking water, recycled water, sewage and gas. Truflo prides itself on manufacturing a complete range of quality PVC pressure pipes, PVC fittings, using only the finest raw materials and best practices within the industry pertaining to the set industrial limits, for all your pipe system requirements. The complete range of products goes through stringent testing as per the national and international standards to ensure high performance and durability. They are available in a pressure rating of 4, 6, and 10 kgf/cm2. The PVC fittings available are coupler (6 and 10kgf/cm2), elbow 90 plain (6 and 10kgf/cm2), male thread adapter, female thread adapter, elbow 90 plain (Nova and Alfa), male thread reducing adapter, end cap plain (6 and 10kgf/cm2), female thread reducing adapter, reducer, reducing Tthreaded elbow, reducing Tthreaded tee, reducer tee, service saddle, tee 90 plain (6 and 10kgf/cm2), reducing bush, and more. Further, the PVC brass fittings include elbow, tee, female threaded adapter, and more.
            <br><br>
            We offer a premium range of PVC pressure pipe systems for a wide range of project requirements. PVC pressure pipes are manufactured from PVC resin compounded with lubricants, stabilisers and pigments. The pipes do not contain any plasticisers and thus are widely known as unplasticised PVC or uPVC.
            <br><br>
            UPVC pipes have been used for pressure applications for a long time. Over time, different industries have understood the very many benefits of PVC for pressure pipes: high strength to weight ratio, material stability, corrosion resistance, ease of handling and installation and extraordinary flow characteristics.</p>
        
     </div>
     <section id="contact">
        <p style="text-align: center;">Aeroson Enterprises</p>
        <address style="text-align: center;"><i class="bi bi-geo-alt"></i>1/1B,Kandavilas Kadu, Kondalampatty, Salem, TN - 636010</address>
        <div class="contactus">
            <a href="mailto:aerosonenterprises@gmail.com"><i class="bi bi-envelope"></i></a>
            <a href="tel:+917540099403"><i class="bi bi-telephone"></i></a>
        </div>
    </section>
    </form>
    <script src="script.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>