<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>

    <form action="/register" method="post">
    <div class="login">
        <div class="login-head">
            <a href="/login"> Cancel</a>
            <h2>Aeroson Enterprises</h2>
        </div>
        <img src="css/images/aeroson-logo.jpg" alt="" srcset="" width="200px">
        <h4>Sign Up</h4>
        <input type="email" name="username" placeholder="Email Address"> <br>
        <input type="text" name="name" id="" placeholder="Username"> <br>
        <input type="password" name="password" id="" placeholder="Enter Password"> <br>
        <select name="role" id="">
            <option value="selectrole">Please Select a role</option>
            <option value="plumber">Plumber</option>
            <option value="dealer">Dealer</option>
            <option value="contractor">Contractor</option>
            <option value="others">Others</option>

        </select>
        <textarea name="address" id="" cols="30" rows="5" placeholder="Address"></textarea>
        <input type="text" name="landmark" id="" placeholder="Landmark">
        <input type="tel" name="phonenumber" id="" placeholder="Mobile number"> <br> <br>
        <!-- <input type="submit" value="Sign up" class="signinup"> -->
        <!-- <a href="/product"  class="signinup">Sign up</a> -->
        <button type="submit" href="/product" class="signinup" >Sign up</button>
    </div>

</form>
</body>
</html>
