<%- include('partials/header1') %>
    <form action="/service" method="post">
    <div class="vertical">
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-item"style="padding-left: 20px;">
                    <a href="/service" class="nav-link">All services</a>
                </li>
                
                <li class="nav-item"style="padding-left: 20px;">
                    <a href="/agriculture" class="nav-link">Agriculture</a>
                </li>
              
              
                <li class="nav-item"style="padding-left: 20px;">
                    <a href="/industrial" class="nav-link">Industrial</a>
                </li>
                
                
                <li class="nav-item"style="padding-left: 20px;">
                    <a href="/building" class="nav-link">Building</a>
                </li>
               
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
    <div class="service-header">
        <h1>AEROSON ENTERPRISES <pre>SERVICES</pre></h1>
        
    </div>

    <div class="vertical-section">
        <div class="vertical-topics">
            <img src="css/images/Agriculture.gif" alt="" width="600px">
            <div>
                <h3 class="vertical-heading">Agriculture</h3>
                <p class="vertical-paragraph">
                    Building systems that nurture nutrition for the coming generation is a responsibility that we are proud to shoulder. We understand that efficient water management is the key to unlocking higher crop yields, better harvest, and better resource productivity. At AEROSON , we are constantly innovating technologies to create ecosystems for sustainable progress. We build responsible solutions that optimize watering systems for prolonged use that include integrated irrigation systems and farm infrastructure to support the seasonal demands of the soil as well as high-productivity crop rotation patterns.
                </p>
            </div>
        </div>
    </div>

    <div class="vertical-section" style="background:#B5DEFF;">
        <div class="vertical-topics">
            <div>
                <h3 class="vertical-heading">Industrial</h3>
                <p class="vertical-paragraph">
                    Understanding and addressing the dynamic needs of diverse industrial requirements has been our forte over multiple decades. We employ sophisticated fluid management, air distribution systems, and a range of PVC-U / PV C-C/ PE / PPH / ABS / PVDF Thermoplastic Piping System that can be used for a variety of industrial applications ranging from electronics, fertilizers, shipbuilding, sugar Industries, paper, textiles, refineries, petrochemicals, pharmaceutical, and biotechnology. Our industrial products offer an extensive product range, excellent product quality, technical proficiency, and local stock availability coupled with industry-leading technology and manufacturing expertise to provide simplified water management solutions to stakeholders across industries.
                </p>
            </div>
            <img src="css/images/industries.gif" alt="" width="600px">
        </div>
    </div>

    <div class="vertical-section">
        <div class="vertical-topics">
            <img src="css/images/building.gif" alt="" width="600px">
            <div>
                <h3 class="vertical-heading">Building</h3>
                <p class="vertical-paragraph">
                    When it comes to providing customized water management solutions in the building segment, our reputation precedes us. We specialize in designing and manufacturing modern plumbing, sanitary, and drainage solutions for hot and cold-water applications for use in residential, commercial, and retail construction projects. Our portfolio of impact includes installing surface drainage as well waste outlets, gutter drainage and siphonic roof systems for rainwater harvesting across a wide scale of end-use scenarios starting from standalone homes and individual offices to full-service resorts and entertainment centres, schools and public infrastructure projects.
                </p>
            </div>
        </div>
    </div>

    <section id="contact">
        <p style="text-align: center;">Aeroson Enterprises</p>
        <address style="text-align: center;"><i class="bi bi-geo-alt"></i>1/1B,Kandavilas Kadu, Kondalampatty, Salem, TN - 636010</address>
        <div class="contactus">
            <a href="mailto:aerosonenterprises@gmail.com"><i class="bi bi-envelope"></i></a>
            <a href="tel:+917540099403"><i class="bi bi-telephone"></i></a>
        </div>
    </section>

</form>
    <script src="script.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>