<%- include('partials/header1') %>
>
    <form action="/swrplumbing" method="post">
    <div>
        <img src="css/images/swr.jpg" alt="" width="100%">
    </div>

    <h3 style="text-align: center; padding: 5%; color:  #317CEC;">Highlights of the Products</h3>
    <div class="highlights">
        <img src="css/images/SWR-Clusters.png" alt="" height="70%">
        <div class="highlights1">
            <ul style="list-style-type:disc">
                <li> Perfect solution for discharge of soil, waste and rain water
                    
                    </li>
                <li>Ventilation
                    
                   </li>
                <li>Available in 2 variants-Ring fit and Solvent cement jointing
                    
                   </li>
                <li> Fast and easy jointing
                    
                   </li>
                
            </ul>
        </div>
        <div class="highlights2">
            <ul style="list-style-type:disc">
                <li>100% Leak-free joints
                    
                   </li>
                <li> U V stabilised
                    </li>
                <li> 
                    Wide range of fittings
                   
                    </li>
                <li>  Pipes manufactured as per IS:13592 and fittings as per IS:14735</li>
                
            </ul>
        </div>
    </div>

    <h3 style="text-align: center; padding: 30px; color:  #317CEC;">Installation of Solvent Cement</h3>
    <div class="installation">
        <div class="installation-image">
            <img src="css/images/SWRcutting.png" alt="" width="150px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Cutting</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/SWR-A-2.png" alt="" width="150px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">De-Blurring</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/SWR-A-3.png" alt="" width="150px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Cleaning/Dry</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/SWR-A-4.png" alt="" width="150px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Solvent cementing</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/swrapply.jpg" alt="" width="150px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Assembly</h4>
        </div>

        <div class="installation-image">
            <img src="css/images/SWR-A-6.png" alt="" width="150px;">
            <h4 style="text-align: center; background:  #B5DEFF; padding: 5px;">Assembly</h4>
        </div>
    </div>

    
    <div class="solvent">
        <h3 style="color:  #317CEC;">ADVANTAGES OF TRUFLO SWR PIPING SYSTEM:</h3>
        <ol type="a">
            <li>UV stabilized </li>
            <li> Light weight-The low weight of the system makes it easy to install and reduces transportation, handling and installation costs</li>
            <li>Smooth internal finish, no scale, no corrosion resulting in better flow rates</li>
            <li> 100% recyclable</li>
            <li>Complete SWR range of pipes and fittings-75, 90, 110 and 160 mm</li>
            <li> Accurate dimensions, ensuring perfect fit and leak free joints</li>
            <li>Ring fit joint allows for thermal expansion and contraction of pipe</li>
            <li> Unmatched strength and performance, high operating life</li>
            <li>Fast installation</li>
            <li>Cost-effective</li>
        </ol>
    </div>

    <h3 style="color:  #317CEC; text-align : center; padding: 10px;">PRODUCT AVAILABILITY AND STANDARDS</h3>
    <div class="solcement">
        <table>
            <tr>
                <th>VARIANTS	</th>
                <th>	SIZES AVAILABLE </th>
                <th>PIPE	</th>
                <th>FITTINGS</th>
            </tr>
            <tr>
                <td>Type A – Ring fit	</td>
                <td>63, 75, 110, 160 mm </td>
                <td rowspan="2">IS:13592:2013	</td>
                <td rowspan="2">IS:14735:1999</td>
                
            </tr>
            <tr>
                <td>Type A – Selfit	</td>
                <td>40, 50, 75, 90, 110, 160 mm</td>
            </tr>
            <tr>
                <td>Type B – Ring fit			</td>
                <td>75, 110, 160 mm</td>
                <td rowspan="2">IS:13592:2013</td>
                <td rowspan="2">IS:14735:1999</td>
            </tr>
            <tr>
                <td>Type B – Selfit		</td>
                <td>440, 50, 63, 75, 90, 110, 160, 315 mm</td>
            </tr>
        </table>
    </div>

    <div class="note">
        <p><b>Note:</b> Typical set schedule is required time before it is advisable to carefully handle joint. In wet or humid conditions, additional set time maybe required of up to 50% of amount listed. Use as general guidelines only.</p>
        <ol type="f">
            <li>Cure time-Curing time is longer than the set time. Curing means the joint has completely matured</li>
            <li>The pressure test can only be performed after the joint is completely cured</li>
        </ol>
    </div>
    <div class="avgsolvent" width="70%;">
        <table>
            <tbody>
                <tr>
                    <th colspan="7"><b>AVERAGE JOINT CURE SCHEDULE FOR CPVC SOLVENT CEMENT</b></th>
                </tr>
                <tr>
                     <th><b>RELATIVE HUMIDITY</b><b>60% OR LESS</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> <sup>1</sup>&frasl;<sub>2</sub>” – 1<sup>1</sup>&frasl;<sub>4</sub>”</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> 1<sup>1</sup>&frasl;<sub>2</sub>” – 2”</b></th>
                     <th colspan="2"><b>PIPE </b><b>∅</b><b> 2<sup>1</sup>&frasl;<sub>2</sub>” – 4”</b></th>
                </tr>
                <tr>
                    <th rowspan="2"><b>TEMP. RANGES DURING ASSEMBLY &amp; CURE PERIODS</b></th>
                    <th colspan="2"><b>BAR</b></th>
                    <th colspan="2"><b>BAR</b></th>
                    <th colspan="2"><b>BAR</b></th>
                </tr>
                <tr>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 26</b></th>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 22</b></th>
                    <th><b>UP TO 11</b></th>
                    <th><b>11 TO 22</b></th>
                </tr>
                <tr>
                    <td>16° - 38°C</td>
                    <td>15 min</td>
                    <td>6 hrs</td>
                    <td>30 min</td>
                    <td>12 hrs</td>
                    <td>1 <sup>1</sup>&frasl;<sub>2</sub> hrs</td>
                    <td>24 hrs</td>
                </tr>
                <tr>
                    <td>5° - 16°C</td>
                    <td>10 min</td>
                    <td>12 hrs</td>
                    <td>45 min</td>
                    <td>24 hrs</td>
                    <td>4 hrs</td>
                    <td>48 hrs</td>
                </tr>
                <tr>
                    <td>-18° - -5°C</td>
                    <td>15 min</td>
                    <td>48 hrs</td>
                    <td>1 hr</td>
                    <td>96 hrs</td>
                    <td>72 hrs</td>
                    <td>8 days</td>
                </tr>
            </tbody>
         </table>
     </div>

     <div class="note">
        <p><b>Note:</b>Joint cure schedule is the necessary time to allow before pressurizing system. In damp or humid weather allow 50% more cure time.</p>
        <ol type="h">
            <li> The pressure test can only be performed after the joint is completely cured</li>
            <li>Compressed air cannot be used for leakage test</li>
            <li>In case of using paint on UPVC piping system, use only Latex based paints which are water based paints wherein the paint concentrate is diluted with water to make it workable and brushable. No Oil/Solvent based paints are to be used as these paints can drastically reduce the life of the systems</li>
        </ol>
    </div>

     <div class="superior">
         <h3>Truflo UPVC Pipes & Fittings available in best quality and price</h3>
         <br>
         <p>Truflo UPVC pipes & fittings are used for the high-pressure water distribution system and are an ideal replacement for galvanised iron pipe system for all cold water applications. They are UV stabilised and provide leak-proof joints as they are welded by solvent cement. <br> <br>

            We have attained an excellent reputation in manufacturing and supplying UPVC Pipes that are known for their durability and dimensional accuracy. The pipes are fabricated done with high-quality materials and modern technology as per the latest industrial norms. Truflo’s offered pipes are available with us in varied specifications for serving the variegated needs of customers, thus ranking us among the best UPVC pipe manufacturers. <br> <br>
            
            Our UPVC pipes and UPVC fittings are available in a wide range. We manufacture Class - SCHEDULE 40, and SCHEDULE 80 of 3 metres and 6 metres of UPVC pipes. The UPVC fittings of SCHEDULE 40 for coupler plain, elbow 90 plain, tee 90 plain of different sizes.
            Further, UPVC fittings like elbow 90 plain, bend 45 plain, reducer elbow 90, tee 90 plain, and coupler plain of SCHEDULE 80 are available in different sizes for your specific requirements. Other fittings available are reducing tee 90 plain, cross tee 90, end cap plain, reducer bushing plain, MAPT, FAPT, union, reducer and reducer MTA. The brass fitting range available in SCH-80 are elbow 90, tee reducing FTA, male thread adopter, female thread adopter, and reducing MTA.</p>
        
     </div>

     <section id="contact">
        <p style="text-align: center;">Aeroson Enterprises</p>
        <address style="text-align: center;"><i class="bi bi-geo-alt"></i>1/1B,Kandavilas Kadu, Kondalampatty, Salem, TN - 636010</address>
        <div class="contactus">
            <a href="mailto:aerosonenterprises@gmail.com"><i class="bi bi-envelope"></i></a>
            <a href="tel:+917540099403"><i class="bi bi-telephone"></i></a>
        </div>
    </section>
     </form>
    <script src="script.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>